html {
    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.frame {
    border: rgb(0, 0, 0) 7px solid;
    border-radius: 10px;
    box-shadow: 0px 0px 100px rgb(126, 126, 126);
    color: #ffffff;
    width: 400px;
    height: 500px;
    padding: 30px;
    background: linear-gradient(140deg, #0008ff, #9367c9);
}


.title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 0px 5px 20px black;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0px 5px 20px black;
    color: white;
    text-align: center;
}

.region {
    font-size: 80%;
    margin-top: 10px;
}

.location {
    font-size: 40px;
    margin-top: 20px;
    display: flex;
    border: 5px solid black;
    border-radius: 7px;
    box-shadow: 0px 1px 30px rgb(63, 63, 63);
}

.search {
    width: 100%;
    text-align: center;
    font-size: 30px;
}

.search::placeholder {
    font-size: 30px;
}

.search-button {
    width: 50px;
    height: 65px;
    font-size: 30px;
    background-color: white;
    border: 1px solid black;
}
.search-button:hover {
    background-color: lightblue;
}
.search-button:active {
    background-color: rgb(113, 113, 113);
}

.time-temp {
    margin-top: 40px;
    margin-left: 30px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
}

.time {
    margin-left: 140px;
}

.icon-weather {
    font-size: 10px;
    margin-left: 230px;
    border: 10px solid black;
    position: absolute;
}

.stats {
    display: flex;
    margin-left: 30px;
    margin-top: 50px;
    flex-direction: column;
    gap: 10px;
    width: 40%;
}
